.resize {
  width: 100%;
  height: auto;

}

.tour-container {
  float: left;
  font-size: 2em;
  background-color: pink;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px purple solid;
  margin: 15px;
}
p {
  font-size: 2em;
  font-family: fantasy;
  margin-top: -5px;
}

h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

div.tour-container ul li span {
  color: red;
}

li.london {
  color: blue;
}

li.berlin {
  color: orange;
}
