.resize {
  width: 100%;
  height: auto;

}

.tour-container {
  float: left;
  font-size: 2em;

}
p {
  font-size: 2em;
  font-family: fantasy;
}

h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}
